body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px 0;
    margin: 0;
}

.header-name {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
}

.links {
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.section-one {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 100px 100px;
    margin: 0;
}

.img-one {
    border-radius: 0;
}

.left-one {
    display: flex;
    flex-direction: column;
    width: 530px;
}

button {
    width: 100px;
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 5px;
    font-weight: 700;
    border-radius: 8px;
}

.signup-one {
    border: 0;
    margin-top: 10px;
}

.title-one {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 700;
}

.text-one {
    color: #E5E7EB;
    font-size: 18px;
}

.section-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0 100px;
}

.title-two {
    color: #1F2937;
    font-weight: 900;
    font-size: 36px;
    margin-bottom: 50px;
}

.container {
    display: flex;
    gap: 50px;
}

.box {
    display: flex;
    flex-direction: column;
    width: 170px;
    text-align: justify;
    text-align-last: center;
    
}

.boximg {
    display: flex;
    height: 170px;
    width: 170px;
    border-radius: 20px;
    border-width: 3px;
    border-color: #3882F6;
    border-style: solid;
}

.section-three {
    display: flex;
    flex-direction: column;
    padding: 100px 500px;
    background-color: #E5E7EB;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.signature {
    text-align:right;
    font-weight: 700;
    font-size: 18px;
}

.section-four {
    display: flex;
    align-items: center;
    padding: 100px 0;
    justify-content: center;
}

.boxinbox {
    background-color: #3882F6;
    width: 800px;
    height: 150px;
    padding: 0 100px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.left-four {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.title-four {
    font-size: 24px;
    font-weight: 700;
    color: #F9FAF8;
}

.text-four {
    font-size: 18px;
    color: #E5E7EB;
}

.signup-four {
    margin-left: auto;
    border-style: solid;
    border-color: white;
}

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    align-items: center;
    text-align:center;
    padding: 20px 100px;
}
